<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".NavigationComponentsActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <!--For enabling deeplink in a graph by replacing nav graph element with generated intent filters - See documentation for deeplink-->
            <!--adb shell am start -a android.intent.action.VIEW -d "fragmentB1://www.example.com/users/1"-->
            <nav-graph android:value="@navigation/navigation_b" />

            <intent-filter>
                <action android:name="activity.navigation.component.open" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>
    </application>

</manifest>